*{
    box-sizing: border-box;
}
body{
    margin: 0;
    min-height: 5000px;
}
.scroller{
    position:fixed ;
    left: 0;
    top: 0;
    width: 0px;
    height: 5px;
    background-color: blue;
    z-index: 99999;
}